.card-container{
    cursor: pointer;
    height: 200px;
    width: 200px;
    perspective: 800px;
    position: relative;
    margin: auto;
    transition: ease-in;
}

.card{
    height: 200px;
    width: 200px;
    perspective: absolute;
    border: 1px solid #300;
    transform-style: preserve-3d;
    transition: all 0.6s ease-out;
}

.card:hover{
    transform: rotateY(180deg);
    transition: all 0.6s ease-in-out;
}

.card .front{
    height: 200px;
    width: 200px;
    backface-visibility: hidden;
    position: absolute;
    overflow: hidden;
    text-align: center;
    background-color: rgb(0, 0, 0);
}

.card .back {
    height: 200px;
    width: 200px;
    text-align: center;
    transform: rotateY(180deg);
}

.Question{
    color: rgb(251, 249, 249);
    font-size: 1.5em;
    padding-top: 20%;
}

.Answer{
    color: #333;
    font-size: 1.5em;
    padding-top: 20%
}
